



.jumbotron {
    text-align: center;
    margin: 0px 170px 0px 210px;
}

#consumer {
    margin: 0px 210px;
    border: 1px solid blue;
    margin-bottom: 20px;
}
h4 {
    background-color: blue;
    font: white;
    padding: 5px;
    padding-left: 15px;
    margin: -16px;
}
#new-train {
    margin-bottom: 20px;
}
